form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #560969;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #B388FF;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #560969;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
